.image-and-text-grid {
  margin: 70px 0;

  .items-container {
    .item {
      display: flex;
      margin-bottom: 50px;

      .image-wrapper {
        position: relative;
        min-height: 550px;
        transform: translateX(-50px);
        flex-basis: calc(50% + 50px);

        .image-holder {
          background-position: center;
          background-size: cover;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }

      .content-wrapper {
        padding-left: 60px;
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
          margin-top: 10px;
          margin-bottom: 20px;
        }

        .description-holder {
          padding: 25px 0;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 20px;
            top: 0;
            border-bottom: 1px solid black;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &.image-on-right {
        margin-left: auto;
        margin-right: 0;

        .image-wrapper {
          order: 1;
          transform: translateX(50px);
        }

        .content-wrapper {
          padding-left: 0;
          padding-right: 60px;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    .container {
      margin-left: 0;
      max-width: calc(1240px + (100vw - 1240px) / 2);
    }

    .items-container {
      .item {
        .image-wrapper {
          transform: none;
          flex-basis: calc(1240px / 2 + (100vw - 1240px) / 2);

          .image-holder {
            right: 0;
          }
        }

        .content-wrapper {
          padding-left: 100px;
        }

        &.image-on-right {
          .image-wrapper {
            transform: none;
          }

          .content-wrapper {
            padding-left: 0;
            padding-right: 100px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    margin: 40px 0;

    .items-container {
      .item {
        margin-bottom: 20px;
        flex-direction: column;

        .image-wrapper {
          padding-bottom: 55%;
          transform: none;
          flex-basis: 100%;
          margin-bottom: 20px;

          .image-holder {
            right: 0;
          }
        }

        .content-wrapper {
          flex-basis: 100%;
          padding-left: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &.image-on-right {
          .image-wrapper {
            transform: none;
            order: 0;
          }

          .content-wrapper {
            padding-right: 0;
          }
        }
      }
    }
  }
}
