.full-image-gallery {
  height: 100vh;
  overflow-x: hidden;
  position: relative;

  .slick-slider {
    height: 100%;

    .slick-list {
      height: 100%;

      .slick-track {
        height: 100%;

        .slick-slide {
          position: relative;

          .image-holder {
            position: absolute;
            left: 0;
            background-position: center;
            background-size: cover;
            right: 0;
            bottom: 0;
            top: 0;
          }

          .content-holder {
            z-index: 1;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            color: white;

            .container {
              height: 100%;

              .content-container {
                flex-direction: column;
                display: flex;
                justify-content: flex-end;
                height: calc(100% - 150px);
              }
            }
          }
        }
      }
    }
  }
}