.grid-gallery-component {
  overflow: hidden;

  .grid-gallery-wrapper {
    display: block;
    min-height: 1px;
    width: 100%;
    overflow: auto;

    .main {
      .image-item {
        width: 100%;
        position: relative;
        padding-bottom: 56%;

        .image-holder {
          background-color: #e4e3e3;
          left: 0;
          position: absolute;
          background-position: center;
          background-size: cover;
          right: 0;
          bottom: 0;
          top: 0;
        }

        &.contain {
          .image-holder {
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .sub {
      .slick-list {margin: 0 -5px;}
      .slick-slide>div {padding: 0 5px;}

      .image-item {
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.48);
        width: 100%;
        position: relative;
        padding-bottom: 56%;

        .image-holder {
          left: 0;
          position: absolute;
          background-position: center;
          background-size: cover;
          right: 0;
          bottom: 0;
          top: 0;
        }

        &.contain {
          .image-holder {
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}