body {
  overflow-x: hidden;

  img {
    margin: 0;
  }

  div {
    box-sizing: border-box;
  }

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
  }

  .italic {
    font-style: italic;
  }

  .handwritten {
    font-family: 'Parisienne', cursive;
  }

  .no-margin {
    margin: 0;
  }

  a {
    color: currentColor;
    text-decoration: underline;
    outline: none;
  }

  .container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

    @media (max-width: 1280px) {
      max-width: 100%;
      margin-left: 50px;
      margin-right: 50px;
      width: calc(100% - 100px);
    }

    @media (max-width: 767px) {
      margin-left: 25px;
      margin-right: 25px;
      width: calc(100% - 50px);
    }
  }
}
